@charset "UTF-8";
.flexNone {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

body {
  margin: 0;
  background: #f8f9fc;
}

body .container-fluid {
  padding: 0;
}

body .container-fluid #header {
  border-bottom: 1px solid #e7eaf1;
  background: #fff;
  padding: 0 30px;
}

/*********************************************************************

header 디자인

*********************************************************************/
.headerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerInner h1 {
  margin-right: 50px;
}

.headerInner h1 a {
  text-decoration: none;
  color: black;
}

.headerInner nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 50px;
}

.headerInner nav ol li {
  height: 100%;
  width: 100px;
  text-align: center;
}

.headerInner nav ol li a {
  text-decoration: none;
  color: black;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}

.headerInner nav ol li a:hover {
  color: #01c3bc;
}

.headerInner .login {
  margin-left: auto;
  margin-right: 10px;
  background: #01c3bc;
  border-radius: 5px;
  border: none;
  width: 70px;
  height: 30px;
  color: #fff;
}

.headerInner .login:hover {
  background: #01c3bc;
}

.headerInner .signIn {
  background: #ff7867;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 30px;
  color: #fff;
}

.headerInner .signIn:hover {
  background: #ff7867;
}

/*********************************************************************

list 디자인

*********************************************************************/
/*********************************************************************

모달 디자인

*********************************************************************/
.open {
  display: block !important;
}

.modalForm {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalForm .modalContent {
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 5px 20px;
          box-shadow: 0 5px 20px;
  -webkit-transition: margin 0.2s ease-out;
  transition: margin 0.2s ease-out;
  margin: 60px auto 0;
}

.modalForm .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid;
  padding: 0 10px;
}

.modalForm .title h1 {
  width: 460px;
  margin: 0;
  height: 58px;
  line-height: 58px;
}

.modalForm .title .closeBtn {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  border: none;
  background: #fff;
  font-size: 13px;
}

.modalForm .title .closeBtn:hover {
  background: gray;
  border-radius: 5px;
  color: #fff;
}
/*# sourceMappingURL=list.css.map */