@mixin display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin btn($color, $length) {
  background: $color;
  border-radius: 5px;
  border: none;
  width: $length;
  height: 30px;
  color: #fff;
  &:hover {
    background: $color;
  }
}

.flexNone {
  flex: none;
}

body {
  margin: 0;
  background: #f8f9fc;

  .container-fluid {
    padding: 0;
    #header {
      border-bottom: 1px solid #e7eaf1;
      background: #fff;
      padding: 0 30px;
    }
  }
}
/*********************************************************************

header 디자인

*********************************************************************/

.headerInner {
  @include display();
  h1 {
    margin-right: 50px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  nav {
    ol {
      @include display();
      height: 50px;
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: 50px;

      li {
        height: 100%;
        width: 100px;
        text-align: center;
        a {
          text-decoration: none;
          color: black;
          width: 100%;
          font-weight: bold;
          font-size: 20px;
          &:hover {
            color: #01c3bc;
          }
          // &::after { 클릭시 버튼 아래에 등장하도록
          //   position: absolute;
          //   background-color: #01C3BC;
          //   content: '';
          //   right: 6px;
          //   bottom: -1px;
          //   left: 6px;
          //   height: 3px;
          // }
        }
      }
    }
  }

  .login {
    margin-left: auto;
    margin-right: 10px;
    @include btn(#01c3bc, 70px);
  }
  .signIn {
    @include btn(#ff7867, 80px);
  }
}

/*********************************************************************

list 디자인

*********************************************************************/

/*********************************************************************

모달 디자인

*********************************************************************/
.open {
  display: block !important;
}

.modalForm {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  .modalContent {
    width: 500px;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 20px;
    transition: margin 0.2s ease-out;
    margin: 60px auto 0;
  }
  .title {
    display: flex;
    border-bottom: 1px solid;
    padding: 0 10px;

    h1 {
      width: 460px;
      margin: 0;
      height: 58px;
      line-height: 58px;
    }
    .closeBtn {
      margin-top: 20px;
      width: 20px;
      height: 20px;
      border: none;
      background: #fff;
      font-size: 13px;

      &:hover {
        background: gray;
        border-radius: 5px;
        color: #fff;
      }
    }
  }
}
