@mixin display($effect) {
  display: flex;
  align-items: center;
  justify-content: $effect;
}

@mixin btn($color, $length, $hover-color) {
  background: $color;
  border-radius: 5px;
  border: none;
  width: $length;
  height: 30px;
  color: #fff;
  &:hover {
    background: $hover-color;
  }
}

.flexNone {
  flex: none;
}

body {
  margin: 0;
  background: #f8f9fc;

  .container-fluid {
    padding: 0;
    #header {
      border-bottom: 1px solid #e7eaf1;
      background: #fff;
      padding: 13px 30px 0;
      height: 80px;
    }
  }
}
/*********************************************************************

header 디자인

*********************************************************************/

.headerInner {
  @include display(center);
  flex-wrap: wrap;
  h1 {
    margin-right: 50px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  nav {
    ol {
      @include display(space-between);
      height: 50px;
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: 50px;

      li {
        height: 100%;
        width: 100px;
        text-align: center;
        a {
          text-decoration: none;
          color: black;
          width: 100%;
          font-weight: bold;
          font-size: 20px;
          &:hover {
            color: #01c3bc;
          }
        }
      }
    }
  }

  .btnWrap {
    @include display(space-between);
    margin-left: auto;
    .login {
      margin-right: 10px;
      @include btn(#01c3bc, 70px, #00afa9);
    }
    .signIn {
      @include btn(#ff7867, 80px, #ff6d5a);
    }
  }
}

/*********************************************************************

list 디자인

*********************************************************************/
#main {
  margin-top: 50px;
  .h2 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }

  .contentWrap {
    list-style: none;
    padding: 0;

    li {
      width: 628px;
      border: none;
      // 2px solid #c6c7c9;
      border-radius: 16px;
      margin: 10px;
      background: #fff;
      box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
      transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
      &:hover {
        transform: translateY(-4px);
      }

      .listContent {
        padding: 20px 10px;

        a {
          display: flex;
          flex-direction: column;
          span {
            font-size: 20px;
            font-weight: 600;
          }
          p {
            margin: 0;
            font-size: 15px;
          }
          .apply-state {
            border-radius: 5px;
            width: 90px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            margin-top: 5px;
            margin-left: 85%;
            color: #fff;
            font-weight: bold;
            font-size: 17px;
          }
        }
      }
    }
  }
}

.apply-ing {
  background: #01c3bc;
}

.apply-complete {
  background: #6c757d;
}

@media screen and (max-width: 1400px) {
  .contentWrap {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .apply-state {
    margin-left: 82% !important;
  }
}

/*********************************************************************

모달 디자인

*********************************************************************/
.open {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modalForm {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);

  .modalContent {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 20px;
    transition: margin 0.2s ease-out;
    padding: 24px;

    .closeBtn {
      @include display(center);
      width: 30px;
      height: 30px;
      border: none;
      background: #fff;
      font-size: 20px;
      margin-left: auto;
  
      &:hover {
        background: #e7ebed;
        border-radius: 5px;
      }
    }
    .title {
      @include display(center);
      padding: 0 10px;
      margin-bottom: 15px;
  
      h1 {
        margin: 0;
        height: 58px;
        line-height: 58px;
        font-size: 30px;
        font-weight: bold;
      }
    }

    .long-btn {
      width: 312px;
      height: 48px;
      margin-bottom: 12px;
      border-radius: 5px;
    }
    .text-input {
      border: 1px solid #f4f4f5;
      background-color: #f4f4f5;
      padding: 0 16px;
      font-size: 14px;
  
      &:focus {
        outline: 2px solid #01c3bc;
      }
      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    .green-btn {
      background-color: #01c3bc;
      color: #fff;
      border: none;
      &:hover {
        background: #00afa9;
      }
    }
  }
}

/*********************************************************************

로그인 디자인

*********************************************************************/
.loginModal {
  width: 360px;
  height: 430px;
  .signin {
    border-top: 1px solid #e7e8ea;
    position: relative;
    margin-top: 14px;
    padding-top: 22px;
    .signing-text {
      position: absolute;
      top: -14px;
      left: 3%;
      padding: 0 4px;
      background: #fff;
      font-size: 14px;
      line-height: 14px;
      color: #9fa4ab;
      transform: translate(50%, 50%);
    }
    .signin-btn {
      border: 2px solid #01c3bc;
      background: #fff;
      color: #01c3bc;

      &:hover {
        background-color: #e7ebed;
        border: 2px solid #00afa9;
        color: #00afa9;
      }
    }
  }
}

/*********************************************************************

회원가입 디자인

*********************************************************************/
.signinModal{
  width: 360px;
  height: 380px;

  .email-text {
    font-size: 14px;
    padding-left: 3px;
    margin-bottom: 5px;
    color: #767676;
  }
  .agree-text {
    font-size: 12px;
    text-align: center;
    color: #767676;
    margin-top: 5px;
  }
}