@charset "UTF-8";
.borderBtn {
  border: 2px solid #e7eaf1;
  border-radius: 5px;
  background: #fff;
  width: 95px;
  height: 32px;
  color: #6a7684;
  font-size: 13px;
  font-weight: 600;
}

.borderBtn:hover {
  background: #e7eaf1;
}

.long-btn {
  width: 312px;
  height: 48px;
  margin-bottom: 12px;
  border-radius: 5px;
  font-size: 14px;
}

.text-input {
  border: 1px solid #F1F3FB;
  background-color: #F1F3FB;
  padding: 0 16px;
}

.text-input:focus {
  outline: 2px solid #01c3bc;
}

.text-input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.section {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  border-radius: 7px;
}

.flexNone {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/*********************************************************************

list 디자인

*********************************************************************/
#main {
  margin-top: 50px;
}

#main .titleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .titleWrap .h2 {
  text-align: center;
  font-weight: bold;
  width: 1170px;
  padding-left: 69px;
}

#main .titleWrap .writing-btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}

#main .contentWrap {
  list-style: none;
  padding: 0;
}

#main .contentWrap .list {
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 628px;
  border: none;
  border-radius: 16px;
  margin: 10px;
  background: #fff;
  -webkit-box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

#main .contentWrap .list:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

#main .contentWrap .list .listTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .contentWrap .list .listTitle .h3 {
  font-size: 20px;
  font-weight: 600;
}

#main .contentWrap .list .listTitle .apply-state {
  border-radius: 5px;
  width: 90px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 0;
}

#main .contentWrap .list .listContent p {
  margin: 0;
  font-size: 15px;
}

#main .contentWrap .list .listContent .bi {
  padding-right: 10px;
}

#main .contentWrap .list .listContent .date {
  margin-top: 10px;
}

.apply-ing {
  background: #01c3bc;
}

.apply-complete {
  background: #6c757d;
}

@media screen and (max-width: 1400px) {
  .contentWrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .titleWrap .h2 {
    width: 520px !important;
  }
}

/*********************************************************************

header 디자인

*********************************************************************/
body {
  margin: 0;
  background: #f8f9fc;
}

body .container-fluid {
  padding: 0;
}

body .container-fluid #header {
  border-bottom: 1px solid #e7eaf1;
  background: #fff;
  padding: 13px 30px 0;
  height: 80px;
}

.headerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headerInner h1 {
  margin-right: 50px;
}

.headerInner h1 a {
  text-decoration: none;
  color: black;
}

.headerInner nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 50px;
}

.headerInner nav ol li {
  height: 100%;
  width: 100px;
  text-align: center;
}

.headerInner nav ol li a {
  text-decoration: none;
  color: black;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}

.headerInner nav ol li a:hover {
  color: #01c3bc;
}

.headerInner .btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.headerInner .btnWrap .login {
  margin-right: 10px;
  background: #01c3bc;
  border-radius: 5px;
  border: none;
  width: 70px;
  height: 30px;
  color: #fff;
}

.headerInner .btnWrap .login:hover {
  background: #00afa9;
}

.headerInner .btnWrap .signIn {
  background: #ff7867;
  border-radius: 5px;
  border: none;
  width: 80px;
  height: 30px;
  color: #fff;
}

.headerInner .btnWrap .signIn:hover {
  background: #ff6d5a;
}

/*********************************************************************

모달 디자인

*********************************************************************/
.open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalForm {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalForm .modalContent {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 5px 20px;
          box-shadow: 0 5px 20px;
  -webkit-transition: margin 0.2s ease-out;
  transition: margin 0.2s ease-out;
  padding: 24px;
}

.modalForm .modalContent .closeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  background: #fff;
  font-size: 20px;
  margin-left: auto;
}

.modalForm .modalContent .closeBtn:hover {
  background: #F1F3FB;
  border-radius: 5px;
}

.modalForm .modalContent .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  margin-bottom: 15px;
}

.modalForm .modalContent .title h1 {
  margin: 0;
  height: 58px;
  line-height: 58px;
  font-size: 30px;
  font-weight: bold;
}

.modalForm .modalContent .green-btn {
  background-color: #01c3bc;
  color: #fff;
  border: none;
}

.modalForm .modalContent .green-btn:hover {
  background: #00afa9;
}

/*********************************************************************

로그인 모달 디자인

*********************************************************************/
.loginModal {
  width: 360px;
  height: 430px;
}

.loginModal .signin {
  border-top: 1px solid #e7e8ea;
  position: relative;
  margin-top: 14px;
  padding-top: 22px;
}

.loginModal .signin .signing-text {
  position: absolute;
  top: -14px;
  left: 3%;
  padding: 0 4px;
  background: #fff;
  font-size: 14px;
  line-height: 14px;
  color: #9fa4ab;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.loginModal .signin .signin-btn {
  border: 2px solid #01c3bc;
  background: #fff;
  color: #01c3bc;
}

.loginModal .signin .signin-btn:hover {
  background-color: #f1f3fb;
  border: 2px solid #00afa9;
  color: #00afa9;
}

/*********************************************************************

회원가입 모달 디자인

*********************************************************************/
.signinModal {
  width: 360px;
  height: 380px;
}

.signinModal .email-text {
  font-size: 14px;
  padding-left: 3px;
  margin-bottom: 5px;
  color: #767676;
}

.signinModal .agree-text {
  font-size: 12px;
  text-align: center;
  color: #767676;
  margin-top: 5px;
}

/*********************************************************************

게시글 모달 디자인

*********************************************************************/
.articleModal {
  width: 700px;
  min-height: 550px;
}

.articleModal .article-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7eaf1;
  margin-top: 10px;
}

.articleModal .article-header .articleTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

.articleModal .article-header .createdDate {
  margin-bottom: 0;
}

.articleModal .article-content {
  margin-top: 10px;
  min-height: 360px;
}

.articleModal .article-content .article-detail {
  margin-top: 10px;
}

.articleModal .article-content .article-detail p {
  margin: 0;
  font-size: 15px;
}

.articleModal .article-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.articleModal .article-footer .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articleModal .article-footer .profile p {
  margin-bottom: 0;
  margin-left: 10px;
}

.articleModal .article-footer .btnWrap {
  margin-left: 335px;
}

.bi-pencil:before,
.bi-chat-dots:before {
  color: #6a7684;
  font-weight: bold !important;
  padding-right: 5px;
}

.bi-person-fill:before {
  font-size: 40px;
}

table tr {
  font-size: 14px;
  border-bottom: 1px solid #F2F3F5;
  height: 50px;
}

table tr .subject {
  text-align: center;
}

table td {
  padding: 10px 0;
}

/*********************************************************************

회원가입 페이지 디자인

*********************************************************************/
.show {
  display: block !important;
}

.belongWrap {
  display: none;
}

#signin-main {
  margin-top: 50px;
}

#signin-main .h2 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

#signin-main .section form {
  margin: 0 auto;
}

#signin-main .section form p {
  margin-bottom: 5px;
}

#signin-main .section form .signin-input {
  margin-bottom: 24px;
  width: 425px;
  height: 48px;
  border-radius: 7px;
}

#signin-main .section form label {
  margin-bottom: 24px;
}

#signin-main .section form .nickName {
  width: 318px;
  height: 48px;
  border-radius: 7px;
  margin-bottom: 24px;
}

#signin-main .section form .confirm {
  margin-left: 10px;
  background: #01c3bc;
  border-radius: 5px;
  border: none;
  width: 90px;
  height: 48px;
  color: #fff;
}

#signin-main .section form .confirm:hover {
  background: #00afa9;
}

#signin-main .section form .confirm-complete {
  display: none;
}

#signin-main .section .join-complete {
  margin: 0 auto;
  width: 200px;
  height: 48px;
  border-radius: 7px;
  border: none;
  background: #01c3bc;
  color: #fff;
}

#signin-main .section .join-complete:hover {
  background: #00afa9;
}

#signin-main .section .need-helper {
  margin-left: 20px;
}

#signin-main .section input[name="join"] {
  margin-right: 5px;
}

#passwordCheck-main .formWrap {
  margin-top: 50px;
}

#passwordCheck-main .formWrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#passwordCheck-main .formWrap form p {
  margin-bottom: 0;
  margin-right: 20px;
}

#passwordCheck-main .formWrap form .long-btn {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 0;
}

#passwordCheck-main .formWrap form .text-input:focus {
  outline: 2px solid #e7eaf1;
}

#passwordCheck-main .formWrap form .borderBtn {
  width: 60px;
}

#article-main {
  margin-top: 50px;
}

#article-main .titleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

#article-main .titleWrap .h2 {
  text-align: center;
  font-weight: bold;
  width: 525px;
  padding-left: 69px;
}

#article-main .section {
  width: 628px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#article-main td {
  padding: 10px 0;
}

#article-main .title-input {
  width: 425px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

#article-main .title-input:focus {
  outline: 2px solid #01c3bc;
}

#article-main .title-input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#article-main #article-detail {
  width: 425px;
  border-radius: 5px;
  border: none;
}

#article-main #article-detail:focus {
  outline: 2px solid #01c3bc;
}

#article-main .article-password {
  border: none;
  border-radius: 5px;
  height: 30px;
}

#article-main .article-password:focus {
  outline: 2px solid #01c3bc;
}

#article-main .article-password:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#profile-main {
  margin-top: 30px;
}

#profile-main .h2 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

#profile-main .profile {
  text-align: center;
}

#profile-main .bi-person-circle::before {
  font-size: 70px;
}

#profile-main table {
  margin: 0 auto;
}

#profile-main table td {
  text-align: left;
  padding: 10px 20px;
}
