#article-main {
  margin-top: 50px;
  .titleWrap {
    @include display(center);
    margin-bottom: 30px;

    .h2 {
      text-align: center;
      font-weight: bold;
      width: 525px;
      padding-left: 69px;
    }
  }
  .section {
    width: 628px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  td {
    padding: 10px 0;
  }
  .title-input {
    width: 425px;
    height: 30px;
    border: none;
    border-radius: 5px;
    &:focus {
      outline: 2px solid #01c3bc;
    }
    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
    }
  }
  #article-detail {
    width: 425px;
    border-radius: 5px;
    border: none;
    &:focus {
      outline: 2px solid #01c3bc;
    }
  }
  .article-password {
    border: none;
    border-radius: 5px;
    height: 30px;

    &:focus {
      outline: 2px solid #01c3bc;
    }
    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
