@mixin display($effect) {
  display: flex;
  align-items: center;
  justify-content: $effect;
}

@mixin btn($color, $width, $height, $hover-color) {
  background: $color;
  border-radius: 5px;
  border: none;
  width: $width;
  height: $height;
  color: #fff;
  &:hover {
    background: $hover-color;
  }
}

.borderBtn {
  border: 2px solid #e7eaf1;
  border-radius: 5px;
  background: #fff;
  width: 95px;
  height: 32px;
  color: #6a7684;
  font-size: 13px;
  font-weight: 600;
  &:hover {
    background: #e7eaf1;
  }
}

.long-btn {
  width: 312px;
  height: 48px;
  margin-bottom: 12px;
  border-radius: 5px;
}
.text-input {
  border: 1px solid #F1F3FB;
  background-color: #F1F3FB;
  padding: 0 16px;
  font-size: 14px;

  &:focus {
    outline: 2px solid #01c3bc;
  }
  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
}