@import 'modalCommon';
/*********************************************************************

로그인 모달 디자인

*********************************************************************/
.loginModal {
  width: 360px;
  height: 430px;
  .signin {
    border-top: 1px solid #e7e8ea;
    position: relative;
    margin-top: 14px;
    padding-top: 22px;
    .signing-text {
      position: absolute;
      top: -14px;
      left: 3%;
      padding: 0 4px;
      background: #fff;
      font-size: 14px;
      line-height: 14px;
      color: #9fa4ab;
      transform: translate(50%, 50%);
    }
    .signin-btn {
      border: 2px solid #01c3bc;
      background: #fff;
      color: #01c3bc;

      &:hover {
        background-color: #F1F3FB;
        border: 2px solid #00afa9;
        color: #00afa9;
      }
    }
  }
}

/*********************************************************************

회원가입 모달 디자인

*********************************************************************/
.signinModal{
  width: 360px;
  height: 380px;

  .email-text {
    font-size: 14px;
    padding-left: 3px;
    margin-bottom: 5px;
    color: #767676;
  }
  .agree-text {
    font-size: 12px;
    text-align: center;
    color: #767676;
    margin-top: 5px;
  }
}
/*********************************************************************

게시글 모달 디자인

*********************************************************************/
.articleModal{
  width: 700px;
  height: 550px;

  .article-header {
    @include display(space-between);
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9ecef;

    .profile {
      @include display(center);

      p {
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
    .btnWrap {
      .article-btn {
        border: 2px solid #e7eaf1;
        border-radius: 5px;
        background: #fff;
        width: 95px;
        height: 32px;
        color: #6a7684;
        font-size: 13px;
        font-weight: 600;
        &:hover {
          background: #e7eaf1;
        }
      }
    }
  }
  .article-content {
    margin-top: 20px;
    .articleTitle {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      margin: 0;
      font-size: 15px;
    }
  }
}

.bi-pencil, .bi-chat-dots {
  &:before {
    color: #6a7684;
    font-weight: bold !important;
    padding-right: 5px;
  }
}

.bi-person-circle {
  &:before {
    font-size: 40px;
  }
}
