#passwordCheck-main {
  .formWrap {
    margin-top: 50px;
    form {
      @include display(center);

      p {
        margin-bottom: 0;
        margin-right: 20px;
      }
      .long-btn {
        width: 200px;
        margin-right: 20px;
        margin-bottom: 0;
      }
      .text-input {
        &:focus {
          outline: 2px solid #e7eaf1;
        }
      }
      .borderBtn {
        width: 60px;
      }
    }
  }
}
