/*********************************************************************

회원가입 페이지 디자인

*********************************************************************/
.show {
  display: block !important;
}
.belongWrap {
  display: none;
}

#signin-main {
  margin-top: 50px;
  .h2 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }

  .section {
    form {
      margin: 0 auto;

      p {
        margin-bottom: 5px;
      }

      .signin-input {
        margin-bottom: 24px;
        width: 425px;
        height: 48px;
        border-radius: 7px;
      }

      label {
        margin-bottom: 24px;
      }
      .nickName {
        width: 318px;
        height: 48px;
        border-radius: 7px;
        margin-bottom: 24px;
      }
      .confirm {
        margin-left: 10px;
        @include btn(#01c3bc, 90px, 48px, #00afa9);
      }
      .confirm-complete {
        display: none;
      }
    }

    .join-complete {
      margin: 0 auto;
      width: 200px;
      height: 48px;
      border-radius: 7px;
      border: none;
      background: #01c3bc;
      color: #fff;

      &:hover {
        background: #00afa9;
      }
    }
    .need-helper {
      margin-left: 20px;
    }
    input[name="join"] {
      margin-right: 5px;
    }
  }
}
